﻿/*
    Color Pallete

    Chocolate: #6B3E26
    Strawberry: #FFC5D9
    Vanilla: #FFFFFF
    Green: #C2F2D0
    Yellow: #FDF5C9
    Orange: #FFCB85
*/


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.banner-image {
    border: 4px black solid;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 25px #888888;
}

#twitter-widget-0 {
    vertical-align: bottom;
}

.header-spacer {
    margin-top: 10px;
}

body{
    background-color: white;
}

.row{
    padding-bottom: 25px;
    padding-top: 25px;
}

.imgPaddingTop{
    padding-top:15px;
}

.navbar{
    box-shadow: 0px 0px 25px #888888
}
 .navbar-left img{
     padding-left: 5px;
 }

.panel-body{
    font-weight: normal;
}

footer{
    text-align: center;
}


.floatRight{
    float: right;
}

.trelloLogo{
    box-shadow: 0px 0px 25px #888888;
    border-radius: 37px;
}

/*
    Vanilla colors
*/
.row-vanilla{
    background-color: white;
}

.row-vanilla .alert-success{
    background-color: #fa82fe;
    border-color: black;
}

.row-vanilla a{
    color: #614142;
}

.row-vanilla h2{
    color: #614142;
}

.row-vanilla h3{
    color: #614142;
}

/*
    Chocolate colors
*/
.row-chocolate{
    background-color: #614142;
}

.row-chocolate h2{
    color: white;
}

.row-chocolate .panel-primary > .panel-heading {
    background-color: #946a6b;
    border-color: #946a6b;
}
.row-chocolate .panel-primary{
    border-color: #946a6b;
    box-shadow: 0px 0px 5px #888888;
}

.row-chocolate a{
    color: #FFC5D9;
}


.row-chocolate strong{
    color: white;
}


/*
    Strawberry colors
*/
*{
    font-weight: bold;
}

.row-strawberry{
    background-color: #FFC5D9;
}

.row-strawberry .alert-success{
    background-color: white;
    border-color: #ffe3e7;
    color: #FFC5D9;
    font-weight: bold;
    box-shadow: 0px 0px 25px #888888;
}

.row-strawberry .panel{
    color: grey;
}

.row-strawberry .panel-heading {
    background-color: #fbdce1;
    border-color: white;
    color: grey;
}

.row-strawberry .panel-primary{
    border-color: white;
    color: grey;
    box-shadow: 0px 0px 25px #888888;
}

.row-strawberry a{
    color: #ffffff;
}

.row-strawberry h2{
    color: white;
}

.row-strawberry .btn-primary{
    background-color: #FFC5D9;
    border-color: white;
    color: white;
}


.row-strawberry .btn-primary:hover{
    background-color: white;
    border-color: white;
    color: #FFC5D9;
}
.row-strawberry p{
    color: grey;
    font-weight: bold;
}

.ui-widget-header{
    background-color: #fbdce1;
    background-image: none;
    border-color: white;
    color: grey;
}

.ui-widget-content{
    color: grey;
}

.ui-dialog{
    box-shadow: 0px 0px 25px #888888;
}

.ui-dialog-titlebar-close{
    border-color: white;
    background-color: white;
}


/*
    Road Map
*/

.roadMap{
    width: 100%;
    color: black;
    border:solid #614142;
    border-radius: 5px;
    text-align:left;
    min-height: 280px;
    background-color: #9c6b6c;
    margin-bottom: 15px;
    box-shadow: 0px 0px 25px #888888;
}

.roadMapHeader{
    background-color: #614142;
    border-color: #614142;
    padding: 2px 15px;
    margin-bottom: 15px;
}

.roadMapHeader > h2{
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
}

.roadMapBody{
    background-color: #9c6b6c;
    color: white;
    font-weight: bold;
}

.roadMap ul{
    height: 250px;
    display: table;
}

.roadMap li{
    display: table-row;
}
.roadMap li:before{
    content:'•';
    float: left;
    width: 20px;
    font-size: 1.8em;
    line-height: 0.75em;
}


.panel-footer:hover{
    background-color: #6B3E26;
    color: #FFC5D9;
    cursor:pointer;
}


.parallax { 
    background-image: url("Images/Customers.png");
    height: 400px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 25px #888888;
}

.parallax .img-responsive{
    margin: auto;
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

.parallaxCaption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    display:block;
    margin:auto;
}