﻿@model ScoopsVRWeb.Models.PostViewModel

@{
    ViewBag.Title = "ScoopsVR";
}

<div class="parallax row">

    <img class="img-responsive" src="~/Content/Images/scoops-logo-color.png" />

</div>

<div class="row row-strawberry">
    <div class="container" id="About">
        <div class="col-xs-12">
            <div class="alert alert-success" role="alert">
                Initial roadmap has been posted! Check it out @Html.ActionLink("here!", "About", "Home")
            </div>
        </div>
        @foreach (var post in Model.Posts)
        {
            <div class="col-xs-12">
                @Html.Partial("_Post", post)
            </div>
        }
    </div>
    <div id="RoadMap"></div>
</div>
<div class="row row-vanilla">
    <div class="container">
        @Html.Partial("_Roadmap")
    </div>
    <div id="Download"></div>
</div>
<div class="row row-chocolate">
    <div class="container">
        @Html.Partial("_Download")
    </div>
    <div id="Trello"></div>
</div>
<div class="row row-strawberry">
    <div class="container">
        @Html.Partial("_Trello")
    </div>
    <div id="Credits"></div>
</div>
<div class="row row-vanilla">
    <div class="container">
        @Html.Partial("_Credits")
    </div>
    <div id="Contact"></div>
</div>
<div class="row row-chocolate">
    <div class="container">
        @Html.Partial("_Contact")
    </div>
</div>




<div id="dialog" title="">
    <p></p>
</div>


